<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/css/styles.css">
    <script src="/js/utils/identity-utils.js" defer></script>
    <script src="/js/utils/general-utils.js" defer></script>
    <script src="/js/modals-and-forms.js" defer></script>
    <script src="/js/admin-login.js" defer></script>
    <title>Document</title>
</head>

<body>
    <main>
        <div class="sign-in-admin-form-container">
            <form id="sign-in-admin-form" class="form" action="">
                <input id="sign-in-admin-email-input" type="email" placeholder="email" required>
                <input id="sign-in-admin-password-input" type="password" placeholder="password" required>
                <input type="submit" class="submit">
            </form>
        </div>
    </main>
</body>

</html>