<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/header.js" defer></script>
    <script src="/js/utils/identity-utils.js" defer></script>
    <script src="/js/utils/book-utils.js" defer></script>
    <script src="/js/utils/cart-util.js" defer></script>
    <script src="/js/utils/general-utils.js" defer></script>
    <script src="/js/modals-and-forms.js" defer></script>
    <script src="/js/book-page.js" defer></script>
    <link rel="stylesheet" href="/styles/css/styles.css">

    <title>Document</title>
</head>

<body>
    <header>
        <div id="home-page" class="nav-item">Home Page</div>
        <div>
            <input type="text" id="book-search-input" placeholder="book name">
            <button id="book-search-button" class="button">Search</button>
        </div>
        <div id="nav-right-items">
            <div id="cart" class="nav-item">Cart</div>
        </div>
    </header>
    <main>
        <div id="sign-in-modal-container" class="display-none">
            <div id="sign-in-modal-backdrop" class="backdrop"></div>
            <div class="modal">
                <form id="sign-in-form" class="form" action="">
                    <input id="sign-in-email-input" type="email" placeholder="email" required>
                    <input id="sign-in-password-input" type="password" placeholder="password" required>
                    <input type="submit" class="submit">
                </form>
            </div>
        </div>
        <div id="sign-up-modal-container" class="display-none">
            <div id="sign-up-modal-backdrop" class="backdrop"></div>
            <div class="modal">
                <form id="sign-up-form" class="form" action="">
                    <input id="sign-up-name-input" type="text" placeholder="name" required>
                    <input id="sign-up-email-input" type="email" placeholder="email" required>
                    <input id="sign-up-password-input" type="password" placeholder="password" required>
                    <input type="submit" class="submit">
                </form>
            </div>
        </div>
        <div id="books-container">
            <div class="_100p">
            </div>
        </div>
        <form id="add-to-cart-form" class="form" action="">
            <input type="submit" class="submit" id="add-to-cart-button" value="add to cart">
        </form>

    </main>
</body>

</html>