<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/css/styles.css">
    <title>Document</title>
</head>

<body>
    <header>
        <div id="home-page" class="nav-item">Home Page</div>
        <div>
            <input type="text" id="book-search-input" placeholder="book name">
            <button id="book-search-button" class="button">Search</button>
        </div>
        <div id="nav-right-items">
            <div id="cart" class="nav-item">Cart</div>
            <script src="/js/header.js"></script>
        </div>
    </header>
    <main>
        <div id="add-to-cart-modal-container" class="display-none">
            <div id="add-to-cart-modal-backdrop" class="backdrop"></div>
            <div class="modal">
                <div class="book-container-placeholder"></div>
                <form id="view-cart-form" class="form" action="">
                    <input type="number" id="change-quantity-input" placeholder="change quantity">
                    <input type="submit" id="add-to-cart-button" value="change">
                </form>
                <div class="message-container"></div>
            </div>
        </div>
        <div id="sign-in-modal-container" class="display-none">
            <div id="sign-in-modal-backdrop" class="backdrop"></div>
            <div class="modal">
                <form id="sign-in-form" class="form" action="">
                    <input id="sign-in-email-input" type="email" placeholder="email" required>
                    <input id="sign-in-password-input" type="password" placeholder="password" required>
                    <input type="submit">
                </form>
            </div>
        </div>
        <div id="sign-up-modal-container" class="display-none">
            <div id="sign-up-modal-backdrop" class="backdrop"></div>
            <div class="modal">
                <form id="sign-up-form" class="form" action="">
                    <input id="sign-up-name-input" type="text" placeholder="name" required>
                    <input id="sign-up-email-input" type="email" placeholder="email" required>
                    <input id="sign-up-password-input" type="password" placeholder="password" required>
                    <input type="submit">
                </form>
            </div>
        </div>
        <div id="sign-in-admin-modal-container" class="display-none">
            <div id="sign-in-admin-modal-backdrop" class="backdrop"></div>
            <div class="modal">
                <form id="sign-in-admin-form" class="form" action="">
                    <input id="sign-in-admin-email-input" type="email" placeholder="email" required>
                    <input id="sign-in-admin-password-input" type="password" placeholder="password" required>
                    <input type="submit">
                </form>
            </div>
        </div>
        <div id="books-container">
            <div class="_100p">
            </div>
        </div>
        <div class="next-previous-wrapper">
            <div id="previous" class="display-none button">Previous
                <div id="0"></div>
            </div>
            <div id="next" class="display-none button">Next
                <div id="2"></div>
            </div>
        </div>
    </main>
    <script src="/js/utils/general-utils.js"></script>
    <script src="/js/utils/book-utils.js"></script>
    <script src="/js/utils/cart-util.js"></script>
    <script src="/js/modals-and-forms.js"></script>
    <script src="/js/utils/identity-utils.js"></script>
    <script src="/js/cart.js"></script>
</body>

</html>