<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/css/styles.css">
    <title>Document</title>
</head>

<body>
    {{>header}}
    <main>
        <div id="books-container">
            <div class="_100p">
                <h1>This is the books container</h1>
            </div>
        </div>
    </main>
    {{!--
    <script src="../js/header.js"></script> --}}
    <script src="../bookRender.js"></script>
    <script src="../js/utils/cart-util.js"></script>
    <script src="../js/cart.js"></script>
</body>

</html>