<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/css/styles.css">
    <title>Document</title>
</head>

<body>
    <header>
        <div id="home-page" class="nav-item">Home Page</div>
        <div>
            <input type="text" id="book-search-input" placeholder="book name">
            <button id="book-search-button" class="button">Search</button>
        </div>
        <div id="nav-right-items">
            {{{signInOrOut}}}
            <div id="cart" class="nav-item">Cart</div>
            <div id="admin-page" class="nav-item">Admin</div>
            <script src="/js/header.js"></script>
        </div>
    </header>
    <main>
        <div id="add-to-cart-modal-container" class="display-none">
            <div id="add-to-cart-modal-backdrop" class="backdrop"></div>
            <div class="modal">
                <div class="book-container-placeholder"></div>
                <form id="add-to-cart-form" class="form" action="">
                    <input type="submit" id="add-to-cart-button" value="add to cart">
                </form>
                <div class="message-container"></div>
            </div>
        </div>
        <div id="books-container">
            <div class="_100p">
            </div>
        </div>
        <div class="next-previous-wrapper">
            <div id="previous" class="display-none button">Previous
                <div id="0"></div>
            </div>
            <div id="next" class="button">Next
                <div id="2"></div>
            </div>
        </div>
    </main>
    <script src="../js/utils/general-utils.js"></script>
    <script src="../js/utils/book-utils.js"></script>
    <script src="../js/utils/cart-util.js"></script>
    <script src="../js/modals-and-forms.js"></script>
    <script src="../js/index.js"></script>

</body>

</html>