<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/css/styles.css">
    <title>Document</title>
</head>

<body>
    {{>header}}
    <main>
        {{!-- <div class="modal-container">
            <div class="backdrop"></div>
            <div class="modal">I am the modal</div>
        </div> --}}
        <div id="add-to-cart-modal-container" class="display-none">
            <div id="add-to-cart-modal-backdrop" class="backdrop"></div>
            <div class="modal">
                <div class="book-container-placeholder"></div>
                <form id="add-to-cart-form" action="">
                    {{!-- <form id="sign-in-form" action="/user/login" method="post"> --}}

                        <input type="submit" id="add-to-cart-button" value="add to cart">
                    </form>
            </div>
        </div>


        <div id="sign-in-modal-container" class="display-none">
            <div id="sign-in-modal-backdrop" class="backdrop"></div>
            <div class="modal">I am the modal
                <form id="sign-in-form" action="">
                    {{!-- <form id="sign-in-form" action="/user/login" method="post"> --}}

                        <input id="sign-in-email-input" type="email" placeholder="email">
                        <input id="sign-in-password-input" type="password" placeholder="password">
                        <input type="submit">
                    </form>
            </div>
        </div>

        <div id="sign-up-modal-container" class="display-none">
            <div id="sign-up-modal-backdrop" class="backdrop"></div>
            <div class="modal">I am the modal
                <form id="sign-up-form" action="">
                    <input id="sign-up-name-input" type="text" placeholder="name">
                    <input id="sign-up-email-input" type="email" placeholder="email">
                    <input id="sign-up-password-input" type="password" placeholder="password">
                    <input type="submit">
                </form>
            </div>
        </div>

        <div id="sign-in-admin-modal-container" class="display-none">
            <div id="sign-in-admin-modal-backdrop" class="backdrop"></div>
            <div class="modal">I am the admin modal
                <form id="sign-in-admin-form" action="">
                    {{!-- <form id="sign-in-form" action="/user/login" method="post"> --}}

                        <input id="sign-in-admin-email-input" type="email" placeholder="email">
                        <input id="sign-in-admin-password-input" type="password" placeholder="password">
                        <input type="submit">
                    </form>
            </div>
        </div>


        This is the home page
        <div id="books-container">
            <div class="_100p">
                <h1>This is the books container</h1>
            </div>
        </div>
    </main>
    <script src="./bookRender.js"></script>
    <script src="./js/utils/cart-util.js"></script>
    <script src="./index.js"></script>
</body>

</html>