<header>
    <div id="home-page" class="nav-item">Home Page</div>
    <div id="nav-right-items">
        {{{signInOrOut}}}
        <div id="cart" class="nav-item">Cart</div>
        <div id="admin-page" class="nav-item">Admin</div>
        <script src="/js/header.js"></script>
    </div>
</header>