<header>
    <div id="home-page" class="nav-item">Home Page</div>
    <div id="nav-right-items">
        {{{signInOrOut}}}
        {{!-- <div id="sign-out" class="nav-item">Sign Out</div>
        <div id="sign-up" class="nav-item">Sign Up</div>
        <div id="sign-in" class="nav-item">Sign In</div> --}}
        <div id="cart" class="nav-item">Cart</div>
        <div id="admin-page" class="nav-item">Admin</div>
    </div>
</header>