* {
    margin: 0;
    font-family: sans-serif;
}

body {
    background: #d8d8e3;
    color: #614545;
}

header {
    min-height: 80px;
    z-index: 10;
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    background: #5959aa;
    color: white;
    align-items: center;
    justify-content: space-between;

    .nav-item {
        cursor: pointer;
        margin: 10px;
    }

    #nav-right-items {
        display: flex;
        margin-left: auto;
        flex-wrap: wrap;
        justify-content: end;
    }
}

#books-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.book-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
    width: 160px;
    max-width: 250px;
    min-width: 12%;
    border: 5px solid #8b8bb1;
    margin: 5px;
    border-radius: 10%;

    div {
        text-align: center;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .book-img-container {
        width: 100%;
        height: 200px;

        img {
            width: 100%;
            height: 100%;
            border-top-left-radius: 10%;
            border-top-right-radius: 10%;
        }
    }

}


h3 {
    margin-top: 0;
    margin-bottom: 5px;
    max-width: 95%;
}

.backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: grey;
    opacity: 0.5;
}

.modal {
    position: fixed;
    color: white;
    width: 50vw;
    height: 70vh;
    background: #5959aa;
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -44%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10%;
}

#home-page {
    cursor: pointer;
}

#add-book-button {
    cursor: pointer;
}

.button {
    cursor: pointer;
    margin: 20px;
    padding: 5px;
    border: solid 2px #8b8bb1;
    border-radius: 10%;
    background: #9393c2;
    color: #f4f4f7;
}

.next-previous-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#book-search-button {
    margin: 5px 0;
}

::placeholder {
    color: white;
}

.message-container {
    font-weight: 700;
    color: #ff0000;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

input {
    min-width: 51%;
    background: #9393c2;
    color: white;
    margin-bottom: 5px;
}

.submit:active {
    background: #424279;
}

.sign-in-admin-form-container {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.desc-container {
    width: 70%;
}

.total_price-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display-none {
    display: none;
}